section{
  &.index{
    padding-top:80px;
    min-height:270px;
    background:map-get($Color,bar);
    color:#fff;

  }
}

main{
  padding-top:6em;
  min-height:500px;
  &.index{
    padding-top:0;
    margin-top:2em;
    min-height:0;
  }
}